<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script type="text/javascript" src="../../../dist/main.js"></script>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <div class ="holder">
                    <textarea class= "myInput" id="mytext" placeholder="Enter your text here" rows="9" cols="50"></textarea>
                    <button id="generate" type = "submit"> Submit</button>
                 </div>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
